# Companion
/.env.companion

# Worktrees
/.worktrees

# Superpowers subagent-driven-development scratch workspace
/.superpowers

# Composer
/composer.lock
/vendor

# PHPCQ
/.phpcq
/.phpcq.yaml
/.phpcs-cache
